ex_text{
    display: block;
    text-align:center;
    margin-top:10%;
    font-size: 13px;
    margin-bottom:5%;
}

.login_box{
    margin: 0% 34%;
    padding: 7% 5% 7% 10%;
    display:row;
    background-color: rgb(241, 241, 241);
    border: 0.5px rgb(218, 218, 218) solid;
    justify-content: center;
    border-radius: 2px;
border-radius: 10px;
    min-width: 180px;
}
#input_name{
    margin: 0% 0% 12%;
    color:rgb(172, 171, 171);
    width:70%;
    height:28px;
    font-size:15px;
    border:none;
}

#input_call{

    width:21%;
    margin:0% 0% 12%;
    color: rgb(172, 171, 171);
    border:none;
    font-size:15px;
    height: 28px;
}

#call_box{
    display: flex;
    flex-direction: row;
}

#input_pass{
    margin: 0% 0% 10%;
    width: 70%;
    height: 28px;
    font-size: 15px;
    color:rgb(172, 171, 171);
    border:none;
}

submit{
    display: flex;
    justify-content: center;
    margin:1% 57% 0%;
    padding:1% 0 0;
    font-size:65%;
    font-weight: bold;
    border: 1px solid  rgb(218, 218, 218);
    background-color: rgb(241, 241, 241);
    width:9%;
    height: 23px;
    border-radius: 2px;
    border-radius: 10px;

    color:rgb(105, 105, 105);
}

admin_login{
    display: flex;
    justify-content: center;
    margin:1% 57% 0%;
    padding:1% 0 0;
    font-size:65%;
    font-weight: bold;
    border: 1px solid  rgb(218, 218, 218);
    background-color: rgb(241, 241, 241);
    width:9%;
    height: 23px;
    border-radius: 2px;
    border-radius: 10px;

    color:rgb(105, 105, 105);
}

   /* #2 : 701px~ 화면전체의 너비를 가질시 */
   @media screen and (min-width:701px){ 
    body{
        /* 2.1 기본 */
        margin: 0px;
    }
     /* 2.2 아래부터 body를 기준으로 상대값 크기 표현 */
    .myclass{
        width: 100%;
        height: 100px;
        background: white;
        /* display: inline-flex; */
    }

    img{
        position: absolute;
        margin:20px;
        width:50px;
        padding-left: 50px;
       
    }

    #login_id{
        position: absolute;
        right: 50px;
        top: 50px;
        display: flex;
    }
    
    #login_name{
        color: #EC0000;
        margin-right: 10px;
    }
   

    #logo_title{
        
      position: absolute;
      left: 150px;
      top: 30px;
      color: #EC0000;
      font-size: 30px;
      font-weight: bold;
    }

    .menubar{
        color: white;
        display: flex; /*한줄에 보여주기*/
        justify-content: space-around; /*일정한 간격 띄워서 보여주기*/
        /* align-content: center; */
        width: 100%;
        font-weight: bold;
        background-color:#EC0000;
       
        padding: 16px;
    }

    .menubar_bottom{
        /* padding:16px; */
        background-color: #8E0101;
    }

}
