<!-- {% extends 'new_base.html' %}
{% load static %}

{% block header %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link reL = "stylesheet" href = "check1.css">
</head>
<!-- {% endblock %} -->

<body>
    <h2>접수 현황</h2>
    <div style="float: right; display: inline-flex; margin: 1%;">
        <div id="search">전화번호 검색</div>
            <textarea></textarea>
            <img src="searching.png" width="8%";>
    </div> <br><br><br>   
    <div class="container">
        <div id="grid_table">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <bottom>
        <div id="number">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
        </div>
    </bottom>
    </body>
</html>