<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Complain</h1>
    <h2>{{blog.title}}</h2>
    <p>{{blog.pub_date}}</p>
    <br>
    {% if blog.receipt %}
    <img src="{{blog.receipt.url}}" width="500" height="500"></img>
    {% endif %}
    <br>
    <p>{{blog.user_id}}</p>
    <p>{{blog.content}}</p>
    <p>{{blog.approval_status}}</p>
    <a href="{% url 'update' blog.id %}">수정하기</a>
    <a href="{% url 'delete' blog.id %}">삭제하기</a>
</body>
</html>